<%- include("partials/header") %>

    <div id="jumbotron" class="p-5 bg-light rounded-3 centered">
        <div class="container">
            <i class="fas fa-key fa-6x"></i>
            <h1 class="display-5 fw-bold">You've discovered My Secret</h1>
            <p class="secret-text">Konrad is cool!</p>
            <hr>
            <a class="btn btn-light btn-lg" href="/logout">Log Out</a>
            <a class="btn btn-dark btn-lg" href="/submit">Submit</a>
            <a class="btn btn-light btn-lg" href="/">Home</a>
        </div> 
    </div>    


<%- include("partials/footer") %>